h1,
h2,
h3,
h4,
h5 {
  color: var(--fg-default);
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  border-radius: 1em;

  background: var(--bg-smooth-light);
}

*::-webkit-scrollbar-thumb {
  border-radius: 1em;

  background-color: var(--bg-default);
  border: 1px solid var(--fg-mini-text-30);
}

*::-webkit-resizer {
  background-color: var(--bg-smooth-light);

  border-right: 0.3em double var(--fg-default);
  border-bottom: 0.3em double var(--fg-default);
}
