@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "./safelist.css";
@import "./reset.css";
@import "tailwindcss";

:root {
  --bg-default: #0a0a0a;
  --bg-component: #00000065;
  --bg-smooth: #111111;
  --bg-card: #27272790;
  
  --image-bg: url("./assets/background.png");
  
  --fg-default: #ededed;
  --fg-text: #ededed;
  --fg-mini-text: #ededed80;
  --fg-card: #27272790;
  --fg-component: #272727;
  
  --btn-default: var(--fg-default);
  --btn-primary: color-mix(in oklab, var(--fg-default) 80%, #2aff6a 30%);
  --btn-danger: color-mix(in oklab, var(--fg-default) 60%, #ff0000 50%);
  --btn-secondary: color-mix(in oklab, var(--fg-default) 80%, #000000 30%);
  --btn-tetriary: color-mix(in oklab, var(--fg-default) 70%, #000000 40%);
  
  --fs-h1: 36px;
  --fs-h2: 32px;
  --fs-h3: 24px;
  --fs-h4: 20px;
  --fs-h5: 18px;
  --fs-base: 16px;
  --fs-mini: 14px;
}

@layer base {
  .text-base {
    font-size: var(--fs-base);
  }

  .text-mini {
    font-size: var(--fs-mini);
    color: var(--fg-mini-text);
  }
}

@layer components {
  .page {
    color: var(--fg-default);
    font-size: var(--fs-base);
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}
